<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <auxinfo>
        <dict>
            <key>BUILD</key>
            <string>24H23</string>
            <key>VERSION</key>
            <string>15.8</string>
        </dict>
    </auxinfo>
</installer-gui-script>
