<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <auxinfo>
        <dict>
            <key>BUILD</key>
            <string>23C71</string>
            <key>VERSION</key>
            <string>13.6</string>
        </dict>
        <title>WRONG TITLE FROM AUXINFO</title>
    </auxinfo>
    <title>macOS Sequoia</title>
</installer-gui-script>
