<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <title>macOS Correct Title</title>
    <auxinfo>
        <dict>
            <key>BUILD</key>
            <string>23C71</string>
            <key>VERSION</key>
            <string>13.6</string>
            <title>Wrong Title</title>
        </dict>
    </auxinfo>
</installer-gui-script>
