<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="2">
    <title>macOS Big Sur</title>
    <auxinfo>
        <dict>
            <key>BUILD</key>
            <string>20A1</string>
            <key>VERSION</key>
            <integer>99</integer>
            <string>11.0</string>
        </dict>
    </auxinfo>
</installer-gui-script>
